/* Cursor padrão (default) */
* {
  cursor: url("../src/assets/images/cursor.png"), default;
}

/* Cursor para ponteiros (pointer), como em links ou botões  3 4*/
a,
button,
a,
.icone-img,
.dropbtn,
.dropdown-content,
.dropdown-item,
#tie-timer,
.cell,
.piece,
input {
  cursor: url("../src/assets/images/cursor.png"), pointer !important;
}

.no-hover,
.hidden-color,
.list-group-item {
  cursor: url("../src/assets/images/duel.png") 3 4, default !important;
}

.oculto {
  display: none;
}

#tie-timer {
  margin-left: 10px;
}

#game-container {
  display: none;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 650px; /* Limite máximo */
  transform: rotateX(25deg);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  flex-direction: column-reverse;
}
/* Ajuste para telas menores */
@media (max-width: 768px) {
  #game-container {
    max-width: 90%; /* Usa 90% da largura da tela em dispositivos menores */
    margin-top: -20px; /* Ajusta o espaçamento */
    transform: rotateX(
      20deg
    ); /* Reduz a inclinação para melhorar a visualização */
  }
}

@media (max-width: 480px) {
  #game-container {
    max-width: 100%; /* Usa toda a largura da tela em dispositivos muito pequenos */
    margin-top: -10px;
    transform: rotateX(15deg); /* Ajuste menor na inclinação */
  }
}

#board {
  padding: 10px;
  display: grid;
  /* As dimensões da grade são agora ajustáveis com CSS variables */
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 6px;
  width: 100%;
  height: auto;
  transform-style: preserve-3d;
  background-image: url("../src/assets/images/solo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cell {
  width: 100%;
  padding-top: 90%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;
  background-color: #282c3400;
  border: 2px solid rgba(100, 100, 100, 0.4);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.cell:hover {
  background-color: #21a1f173;
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.selected:hover {
  background-color: yellow;
}

.move-allowed:hover {
  background-color: lightgreen;
}

.move-blocked:hover {
  background-color: lightcoral;
}

.selected {
  background-color: rgba(255, 255, 0, 0.5);
}

.move-allowed {
  background-color: rgba(144, 238, 144, 0.5);
}

.move-blocked {
  background-color: rgba(240, 128, 128, 0.5);
}

.piece {
  width: 51%;
  height: 57%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  z-index: 9;
}

.white {
  background-image: url("../src/assets/images/d.png");
  background-size: cover;
  background-position: center;
}

.red {
  background-image: url("../src/assets/images/f.png");
  background-size: cover;
  background-position: center;
}

.no-hover:hover {
  background-color: rgba(0, 0, 0, 0.493);
  transform: none;
}

.purple {
  background-image: url("../src/assets/images/m.png");
  background-size: cover;
  background-position: center;
}

.orange {
  background-image: url("../src/assets/images/c.png");
  background-size: cover;
  background-position: center;
}

.green {
  background-image: url("../src/assets/images/w.png");
  background-size: cover;
  background-position: center;
}

.hidden-magic {
  background-image: url(../src/assets/images/pent.png);
  background-size: cover;
  opacity: 0.8;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  z-index: 1;
  padding: 50%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 0px 0px 8px 8px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: #495057;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.button-container button {
  width: 40%;
  font-size: 1.7rem;
}

.highlight-invalid {
  background-color: red;
  transition: background-color 0.5s ease;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  flex-direction: column;
}

.input-field {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-jogar {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.btn-jogar:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .button-container button {
    font-size: 16px;
  }

  #board {
    gap: 3px;
  }
  .container {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .input-field {
    margin-bottom: 10px;
    width: 100%;
  }
}

.label-texto {
  margin-bottom: 5px;
  font-size: 16px;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  flex-grow: 1;
}

.copiar-icon {
  cursor: pointer;
  color: #28a745;
  margin-left: 10px;
}

.copiar-icon:hover {
  color: #218838;
}

.tooltip {
  position: absolute;
  z-index: 1;
}

.margin-button {
  margin: 2.5rem 0px;
}

.width-button {
  width: 100px;
}

.surrender {
  background-image: url("../src/assets/images/bb.png");
  background-size: cover;
  background-position: center;
  padding: 2rem;

  border: none;
  border-radius: 5px;
}

.tie {
  background-image: url("../src/assets/images/tq.png");
  background-size: cover;
  background-position: center;
  padding: 2rem;

  border: none;
  border-radius: 5px;
}

.piece.hidden-color {
  background-image: url("../src/assets/images/n.png");
  background-size: cover;
  background-position: center;
}
.modal-backdrop.show {
  display: none !important;
}
body.modal-open {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.info-container {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.info-subtitle {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}

.info-paragraph {
  font-size: 0.9rem;
  margin: 10px 0px;
  font-style: italic;
  color: #333;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  font-size: 0.95rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: #444;
}

.pieces-index {
  display: inline-block;
  min-width: 3rem;
  min-height: 3rem;
  margin-right: 8px;
}

.pause {
  background: #f1baba !important;
}

.play {
  background: #baf1ba !important;
}

.time-remaining {
  width: max-content;
}

@media (max-width: 500px) {
  #timer-container {
    font-size: 1rem;
  }

  #timer {
    font-size: 1rem;
  }
}

.rpg-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hide {
  display: none;
}

.rpg-modal-content {
  background: #f7f1e3;
  border-radius: 15px;
  padding: 35px;
  width: 30rem;
  text-align: center;
  font-family: "Garamond", serif;

  clip-path: polygon(
    99% 4%,
    99% 8%,
    98% 9%,
    98% 10%,
    99% 11%,
    100% 12%,
    100% 13%,
    100% 16%,
    98% 18%,
    98% 19%,
    99% 20%,
    100% 24%,
    100% 24%,
    93% 29%,
    100% 29%,
    98% 29%,
    96% 29%,
    99% 33%,
    100% 33%,
    100% 33%,
    98% 35%,
    98% 40%,
    98% 41%,
    100% 44%,
    97% 51%,
    98% 52%,
    99% 52%,
    97% 58%,
    94% 59%,
    98% 61%,
    99% 62%,
    99% 63%,
    96% 67%,
    96% 68%,
    97% 71%,
    98% 72%,
    99% 78%,
    99% 79%,
    98% 83%,
    98% 84%,
    98% 84%,
    99% 88%,
    99% 88%,
    99% 89%,
    98% 91%,
    97% 96%,
    98% 97%,
    99% 98%,
    98% 99%,
    95% 100%,
    91% 99%,
    90% 99%,
    87% 99%,
    86% 99%,
    84% 99%,
    82% 99%,
    78% 98%,
    77% 98%,
    74% 99%,
    71% 100%,
    69% 100%,
    66% 100%,
    63% 100%,
    59% 100%,
    54% 98%,
    50% 98%,
    47% 99%,
    44% 100%,
    44% 100%,
    42% 100%,
    40% 100%,
    39% 100%,
    37% 100%,
    34% 97%,
    31% 97%,
    27% 97%,
    26% 98%,
    24% 99%,
    24% 99%,
    20% 99%,
    16% 98%,
    16% 98%,
    16% 98%,
    11% 98%,
    5% 99%,
    5% 99%,
    4% 95%,
    3% 92%,
    4% 90%,
    1% 85%,
    2% 82%,
    2% 79%,
    1% 78%,
    2% 75%,
    1% 71%,
    1% 68%,
    1% 66%,
    1% 64%,
    3% 61%,
    3% 61%,
    3% 59%,
    3% 57%,
    3% 56%,
    3% 51%,
    3% 50%,
    2% 50%,
    4% 44%,
    3% 42%,
    3% 40%,
    3% 38%,
    3% 33%,
    3% 31%,
    2% 29%,
    2% 28%,
    2% 25%,
    2% 23%,
    2% 20%,
    2% 20%,
    2% 16%,
    3% 15%,
    3% 13%,
    2% 10%,
    0% 6%,
    0% 6%,
    1% 4%,
    3% 3%,
    4% 3%,
    9% 3%,
    9% 3%,
    11% 0%,
    15% 3%,
    15% 3%,
    18% 3%,
    19% 2%,
    21% 1%,
    22% 3%,
    28% 3%,
    30% 3%,
    32% 2%,
    32% 2%,
    34% 2%,
    34% 2%,
    37% 3%,
    39% 3%,
    40% 2%,
    40% 1%,
    43% 1%,
    46% 0%,
    48% 1%,
    49% 1%,
    52% 0%,
    53% 0%,
    61% 0%,
    61% 2%,
    62% 3%,
    67% 3%,
    68% 3%,
    68% 1%,
    69% 0%,
    70% 0%,
    71% 0%,
    73% 1%,
    73% 1%,
    74% 2%,
    76% 1%,
    77% 1%,
    79% 0%,
    82% 0%,
    83% 1%,
    84% 2%,
    87% 2%,
    88% 2%,
    90% 0%,
    92% 4%,
    92% 4%,
    94% 1%,
    96% 1%,
    98% 2%,
    98% 2%,
    100% 2%,
    100% 3%,
    100% 4%
  );
  box-shadow: #333 2px 3px 5px, #8f512259 0 0 35px inset;
}

.rpg-modal-taverna {
  width: min-content;
}

.rpg-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-size: 2.1em;
  color: #6c3f2e;
  margin-bottom: 15px;
  font-weight: bold;
}

#rpgInfoMessage {
  font-size: 1.2em;
}

.rpg-modal-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.rpg-modal-input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  font-family: "Garamond", serif;
  border-radius: 10px;
}

.rpg-modal-btn {
  background-color: #6c3f2e;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Garamond", serif;
  width: 40%;
}

.rpg-modal-btn:hover {
  background-color: #8b5e34;
}

.rpg-modal-cancel {
  background-color: #b08968;
}

.rpg-modal-cancel:hover {
  background-color: #8b5e34;
}

#modalRPGInfo {
  transform: rotateX(15deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px 8px 0px 0px;
  font-size: 1.3rem;
  color: #495057;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  flex-direction: column;
}

.dropdown {
  position: absolute;
  right: 10px;
}

.image-container {
  max-width: 100vw;
  max-height: 100px;
}

.image-container img {
  width: 55px;
  height: 100%;
}

.icone-img {
  width: 40px;
  margin-right: 10px;
}

#timer {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

#time-display {
  padding: 0 5px;
  font-size: 1.6rem;
  color: #28a745;
  transition: color 0.3s ease;
}

.timer-container.warning #time-display {
  color: #ff9800;
}

.timer-container.danger #time-display {
  color: #dc3545;
}

.time-remaining {
  width: max-content;
}

.dropbtn {
  font-size: 1.8rem;
  cursor: pointer;
  color: #6c757d;
  transition: color 0.3s;
}

.dropbtn:hover {
  color: #5a6268;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9e3d6;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  min-width: 120px;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  width: max-content;
}

.dropdown-content a {
  color: #495057;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e9ecef;
}

.dropdown-item:hover {
  background-color: #e9ecef;
}

.show {
  display: block;
}
.dropdown-item {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #f4e5c4;
  font-family: "Papyrus", fantasy;
  z-index: 9999;
}

.rpg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pergaminho-img {
  max-width: 300px;
  width: 80%;
  margin-bottom: 20px;
}

.loading-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.progress-bar {
  width: 80%;
  max-width: 300px;
  height: 20px;
  background-color: #4b3621;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  width: 0;
  height: 100%;
  background-color: #82c91e;
  animation: loading 5s linear forwards;
  border-radius: 10px;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes moveCharacter {
  0% {
    transform: translateX(-400%) rotate(-10deg);
  }
  10% {
    transform: translateX(-300%) rotate(10deg);
  }
  20% {
    transform: translateX(-200%) rotate(-10deg);
  }
  30% {
    transform: translateX(-100%) rotate(10deg);
  }
  40% {
    transform: translateX(0%) rotate(-10deg);
  }
  50% {
    transform: translateX(100%) rotate(0deg);
  }
  60% {
    transform: translateX(200%) rotate(10deg);
  }
  70% {
    transform: translateX(300%) rotate(-10deg);
  }
  80% {
    transform: translateX(400%) rotate(10deg);
  }
  90% {
    transform: translateX(500%) rotate(-10deg);
  }
  100% {
    transform: translateX(600%) rotate(0deg);
  }
}

.character-animation {
  position: relative;
  animation: moveCharacter 5s linear forwards;
  max-width: 3rem;
}

.characters-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.list-group-item:hover {
  background-color: #21a1f173;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-rpg {
  width: auto;
  color: white;
  background-color: #4b1902b7;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #daa520;
  border-radius: 10px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-rpg:hover {
  background-color: #a0512db7;
  transform: scale(1.05);
  color: white;
}

.taverna-icon {
  width: 40px;
  height: auto;
  margin-right: 8px;
}

.loading-modal {
  text-align: center;
  margin-bottom: 10px;
}

.loading-bar {
  width: 100%;
  height: 20px;
  background-color: #4caf50; /* Cor da barra de carregamento */
  border: 1px solid #3c763d; /* Borda da barra */
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Cor da animação de carregamento */
  position: absolute;
  animation: loadingAnimation 1.5s linear infinite; /* Animação */
}

@keyframes loadingAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.loading-modal p {
  font-family: "Fantasy", cursive; /* Fonte do texto */
  font-size: 1.2em;
  color: #ffffff; /* Cor do texto */
}

.loading-div {
  height: 30px;
}

#userListButton {
  width: 100%;
  position: relative; /* Necessário para posicionar o pseudo-elemento */
  overflow: hidden; /* Para garantir que nada ultrapasse os limites do botão */
}

#userListButton::before {
  content: ""; /* Necessário para criar o pseudo-elemento */
  position: absolute; /* Posiciona o pseudo-elemento em relação ao pai */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../src/assets/images/taverna.png"); /* Imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3; /* Ajuste este valor para controlar a transparência da imagem */
}

#userListButton > * {
  position: relative; /* Para garantir que o conteúdo fique acima do pseudo-elemento */
  z-index: 1; /* Garante que o conteúdo esteja acima da imagem */
}

.taverna-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.taverna-loading-content {
  border-radius: 100px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #f4e1c1;
  font-family: "MedievalSharp", sans-serif;
}
.taverna-cerveja {
  width: 120px;
  margin-bottom: 15px;
  animation: pergaminho-fade 2s ease-in-out infinite;
}
.taverna-loading-text {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.taverna-progress-bar {
  position: relative;
  width: 80%;
  height: 20px;
  background: #5d4037;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}
.taverna-progress-fill {
  width: 0;
  height: 100%;
  background: #d7a04a;
  border-radius: 10px;
  animation: progress-loading 3s linear infinite;
}

/* Animações */
@keyframes pergaminho-fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
@keyframes progress-loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Limita a altura do texto com overflow para exibir apenas algumas linhas */
.piece-description {
  max-height: 46px; /* Mostra cerca de duas linhas */
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.5s ease;
}

/* Classe para expandir o texto completo */
.piece-description.expanded {
  max-height: 1517px; /* Altura suficiente para mostrar o texto completo */
}

/* Estilos para os títulos das peças */
.piece-title {
  font-weight: bold;
  margin-top: 8px;
}

/* Botão Ler Mais */
.button-text {
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 14px;
  padding: 0;
}

.info-description {
  padding-right: 15px;
}

.container-buttons{
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin: 20px auto;
}
